@import "../variables";

footer {
	height: 90px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: $prime-color;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
